@model IEnumerable<FitAppka.Model.WeightMeasurement>
<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/Measurements.css" rel="stylesheet" />
    <script>
        function colorEverySecondRow() {
            var rows = document.getElementsByClassName("row");
            for (var i = 0; i < rows.length; i++) {
                if (i % 2 == 1) {
                    rows[i].style.backgroundColor = "rgb(238 238 238)";
                }
            }
        }
    </script>
</head>
<body onload="colorEverySecondRow()">
    <div class="modal-body">
        <div class="container">
            <div class="row no-gutters cent" style="margin-top: 15px;">
                <div style="margin-left: -135px">Obwód talii:</div>
            </div>
            <div class="row no-gutters cent" style="margin-top: 3px;">
                <input id="circum" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
            </div>
            <div class="row no-gutters cent" style="margin-top: 15px;">
                <div style="margin-left: -135px">Waga:</div>
            </div>
            <div class="row no-gutters cent" style="margin-top: 3px;">
                <input id="weight" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
            </div>
            <div class="row no-gutters cent" style="margin-top: 33px; margin-bottom: 5px">
                <button type="button" onclick="" class="btn btn-dark" style="background:#52ad3c; color:white; height: 37px">Dodaj pomiar</button>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 30px">
        <div style="display: flex">
            <button class="btn acent" id="btnAddMeasurement">Dodaj nowy pomiar</button>
        </div>
        <div class="row no-gutters" id="headRow">
            <div class="col-2 cent">Waga</div>
            <div class="col-2 cent">Obwód talii</div>
            <div class="col-2 cent">Proc. tłuszczu</div>
            <div class="col-4 cent">Data pomiaru</div>
            <div class="col-1 cent"></div>
            <div class="col-1 cent"></div>
        </div>
        @foreach (var item in Model)
        {
            string waistCircumference = "-"; string bodyFatLevel = "-";
            if (item.FatMeasurementNavigation != null)
            {
                waistCircumference = item.FatMeasurementNavigation.WaistCircumference.ToString();
                bodyFatLevel = item.FatMeasurementNavigation.ToString();
            }
            
            <div class="row no-gutters">
                <div class="col-2 cent">@item.Weight</div>
                <div class="col-2 cent">@waistCircumference</div>
                <div class="col-2 cent">@bodyFatLevel</div>
                <div class="col-4 cent">@item.DateOfMeasurement.Value.ToString("dd.MM.yyyy")</div>
                <div class="col-1 cent"><img class="btnImg" src="~/img/pen.png" ></div>
                <div class="col-1 cent"><img class="btnImg" src="https://cdn.onlinewebfonts.com/svg/img_416864.png"></div>
            </div>
        }
    </div>
    <script src="~/js/ShowNavbar.js"></script>
</body>
</html>