@model FitAppka.Models.CreateGoalsModel
<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/Settings.css" rel="stylesheet" />
    <script src="~/js/Validation.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-md border-bottom mb-3 czarnyNav" style="text-align: center">

            <div id="left">
                <div class="mr-auto mt-3">
                    <a class="nav-link ml-sm-3 ml-md-4 ml-lg-5" asp-controller="Home" asp-action="Start"><img style="height: 50px; width:185px; margin-top: -15px" src="~/img/logorozowe.png" /></a>
                </div>
            </div>
            <div>
                <div id="right" class="navbar-nav ml-auto">
                    <button class="navbar-toggler mr-2 mr-sm-3" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="d-none d-md-inline-block mr-md-5">
                        <div class="mr-md-4 mr-lg-5 fl"><a class="nav-link text-light" asp-controller="Training" asp-action="TrainingPanel" asp-route-dayID="@ViewData["dayID"]">Treningi </a></div>
                        <div class="mr-md-4 mr-lg-5 fl"><a class="nav-link text-light" asp-controller="FindDay" asp-action="FindDay">Szukaj dni <img style="height: 15px; width:15px" src="~/img/search.png" /></a></div>
                        <div class="mr-md-4 mr-lg-5 fl"><a class="nav-link text-light" asp-controller="Settings" asp-action="Settings">Ustawienia <img style="height: 15px; width:15px" src="~/img/settings.png" /></a></div>
                        <div class="fl"><a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Wyloguj się <img style="height: 15px; width:15px" src="~/img/logout.png" /></a></div>
                        <div class="cb"></div>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <div class="container" id="page">
        <div class="row cent" style="height: 100%; margin-top: -5px">
            <div class="col-9 col-sm-8 col-lg-7 col-xl-6" style="height: 100%; padding-top: 30px; background: white">
                <form enctype="multipart/form-data" method="post" asp-action="">
                    <div class="naglowek">
                        Cele dziennego spożycia:
                    </div>
                    <div class="my-4" style="display: flex">
                        <input id="auto" type="checkbox" class="mx-2" style="margin-top: 7px" value="true"/>
                        <label for="auto">Cele dietetyczne ustawiane automatycznie</label>
                    </div>
                    <div class="form-group cent">
                        <div class="leftCol">
                            <label class="control-label">Kalorii:</label>
                            <div style="display: flex;">
                                <input asp-for="CaloriesTarget" class="form-control" type="number" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 20000)" />
                                <div class="jednostka" style="margin-right: -5px;">kcal</div>
                            </div>
                            <span asp-validation-for="CaloriesTarget" class="text-danger"></span>
                        </div>
                        <div class="rightCol">
                            <label class="control-label">Białka:</label>
                            <div style="display: flex;">
                                <input asp-for="ProteinsTarget" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 3), 5000)" />
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="ProteinsTarget" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group cent" style="border-bottom: 1px solid darkgray; padding-bottom: 30px">
                        <div class="leftCol">
                            <label class="control-label">Tłuszczy:</label>
                            <div id="tluInDiv" style="display: flex">
                                <input asp-for="FatsTarget" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 3), 2222)" />
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="FatsTarget" class="text-danger"></span>
                        </div>
                        <div class="rightCol">
                            <label class="control-label">Węglowodanów:</label>
                            <div style="display: flex">
                                <input asp-for="CarbohydratesTarget" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 3), 5000)" />
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="CarbohydratesTarget" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="naglowek" style="margin-top: 25px">
                        Cele treningowe:
                    </div>




                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>