@model FitAppka.Models.DTO.TrainingsDTO 
<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row no-gutters">       
            <div class="col-4">Nazwa</div>
            <div class="col-4"></div>
            <div class="col-3">Autor</div>
        </div>

       
    </div>
</body>
</html>