@model IEnumerable<FitAppka.Models.Client>

<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

    </div>
</body>
</html>