.logout{
    height: 25px;
}

.searchBtn {
    width: 158px;
    background: repeating-linear-gradient(45deg, rgb(19 19 19), rgb(228 228 228 / 25%) 100%);
    color: white;
    margin-left: 25px;
    margin-top: 18px;
    border-radius: .20rem;
    height: 29px
}

.int {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
    text-align: center;
    border: 1px solid #797979;
    height: 30px;
    padding: 0 !important
}

.fromto {
    margin-top: 2px;
    float: left;
}

.g1 {
    margin-right: 15px;
    margin-top: 2px;
    font-weight: 600;
    float: left;
}

.g2 {
    margin-top: 2px;
    font-weight: 600;
    float: left;
}

.datepicker {
    width: 135px;
    /*border-radius: 7%;*/
    border: 1px solid #797979;
    background-color: white !important;
    background: url("https://icons.iconarchive.com/icons/paomedia/small-n-flat/24/calendar-icon.png") no-repeat scroll 99%;
    height: 28px;
    cursor: pointer
}

.srcBtn{
    margin-right: -7px;
    margin-top: -1px;
}

.chosen-single {
    height: 28px;
    border-radius: 3px;
    background: linear-gradient(#fff 20%,#f6f6f6 50%,#dbd3d33b 52%,#fff 100%);
    width: 250px;
    text-align: center;
   padding-left: 30px;
}

.ertyu{
    font-size: 12px
}

#oplaer{
    margin-left: -15px
}

#chosenPanel {
    margin-left: -60px !important;
    margin-right: 60px !important
}

#ctxProd {
    margin-top: 100px
}

#findDayWhere {
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: -10px
}

.chosen-single{
    height: 28px !important
}

#navMain {
    height: 70px;
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: -5px;
    z-index: 99;
}

#prodNotFound {
    margin-top: 125px;
    width: 100%
}


.panelek {
    margin-top: -5px
}

#grammagePanel {
    float: left;
    /*margin-right: 15px;
    margin-left: 15px;*/
   
    margin-bottom: 4px
}

.navsearch {
    height: 75px;
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: -35px;
    z-index: 99;
}

.navsearch, #navMain {
    background: rgba(245, 245, 245, 0.2);
    backdrop-filter: blur(1px);
}

.navbar-fixed-top.scrolled {
    background: rgba(245, 245, 245, 0.96) !important;
    transition: background 350ms linear;
}

.dayHeader {
    background-color: rgba(0, 0, 0, 0.35);
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
    font-weight: 600
}

.dayCol {
    margin-left: -17px;
    margin-right: 17px
}

.dayRow {
    align-items: center;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #f4f4f4;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

#grammagePanel{
    display: flex
}

#choice {
    height: 27px !important;
    text-align-last: center;
    padding: 2px;
    padding-top: 0;
    margin-left: -10px;
    width: 250px;
    border: 1px solid darkgray;
}

@media(max-width: 991px){
    .navsearch {
        height: 125px;
    }

    .jcontent-flex-end {
        justify-content: flex-end !important
    }

    #chosenPanel {
        margin-right: -20px !important
    }

    .panelek{
        margin-right: -75px
    }


    .searchBtn {
    }
}

@media(max-width: 767px) {
    .panel {
        padding-top: 0
    }
}

@media(min-width: 577px) and (max-width: 991px) {
    #oplaer{
        margin-right: 40px
    }
}


@media(max-width: 576px){
    .jcontent-flex-end{
        justify-content: center !important
    }

    #aderty{
        margin-right: 125px;
        margin-top: 5px;
        margin-bottom: 5px
    }

    #ertyu{

    }

    #grammagePanel{
        justify-content: center
    }

    #chosenPanel{
        margin-right: 0 !important
    }
}





@media(max-width: 560px) {
    #grammagePanel {
        /*margin: 0 !important;*/
        /*padding-left: calc(50% - 108px);*/
        /*padding-top: 7px;*/
    }

/*    #chosenPanel {
        margin-left: calc(50% - 125px)
    }
*/
    /*#navProduct {
        height: 160px
    }*/

    #ctxProd {
        margin-top: 130px
    }

    .dayHeader {
        font-size: 14px;
    }

    .data {
        margin-left: -15px;
        margin-right: 5px
    }

    #prodNotFound {
        margin-top: 175px
    }
}
