body {
    background: radial-gradient(#b2ffed, #808080);
}


html{
    height: 100%;
}

#mainRow {
    height: unset;
    padding-top: 20px;
    background: white
}

.flexcb{
    display: flex;
    clear: both;
}