
#logBoczny {
    margin-left: calc(100% - 325px);
    padding: 10px;
    margin-right: -25px;
    border-radius: 15px;
    border: 2px solid #dedede;
    background: #f7f7f796;
}

#logGorny {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #dedede
}

#panelJablko {
    padding: 15px;
    margin-right: -15px;
    min-height: 230px;
    background-color: #f7f7f796;
    border-radius: 15px;
    border: 2px solid #dedede
}


