body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#logSide {
    margin-left: calc(100% - 325px);
    padding: 10px;
    margin-right: -25px;
    border-radius: 15px;
    border: 2px solid #dedede;
    background: rgba(247, 247, 247, 0.6);
}

#logUpper {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #dedede
}

#photoPanel {
    padding: 15px;
    margin-right: -15px;
    min-height: 230px;
    background-color: rgba(247, 247, 247, 0.6);
    border-radius: 15px;
    border: 2px solid #dedede
}

#formLogin {
    margin-left: calc(50% - 162.5px)
}

#loginPanel {
    width: 325px;
}

@media(max-width: 443px) {
    #loginPanel {
        width: 300px
    }

    #formLogin {
        margin-left: calc(50% - 150px);
        font-size: 16px
    }
}

@media(max-width: 400px) {
    #loginPanel {
        width: 285px
    }

    #formLogin {
        margin-left: calc(50% - 142.5px);
        font-size: 14px !important
    }
}

@media(max-width: 375px) {
    #loginPanel {
        width: 265px
    }

    #formLogin {
        margin-left: calc(50% - 132.5px);
        font-size: 13px !important
    }
}