.rowM{
    background-color:ghostwhite;
    border: 1px solid black;
    height: 40px;
    align-items: center
}

.btnImg{
    height: 18px;
    width: 18px;
    cursor: pointer
}

#modal-title{
    margin-top: -12px
}

#headRow {
    background-color: #202020;
    color: white;
    height: 40px;
    align-items: center;
}

#btnAddMeasurement, #btnEditMeasurement {
    background: #52ad3c;
    color: white;
    height: 37px;
    width: 170px
}

#btnShowModalAddMeasurement {
    margin-left: auto;
    font-size: 18px;
    color: white;
    background: #72c27a;
    font-family: Corbel;
    margin-bottom: 15px;
}

#btnShowModalAddMeasurement:hover {
    background: #da706a
}
