.rowM{
    background-color:ghostwhite;
    border: 1px solid black;
    height: 40px;
    align-items: center
}

.btnImg{
    height: 18px;
    width: 18px
}

#headRow {
    background-color: #202020;
    color: white;
    height: 40px;
    align-items: center;
}

#btnAddMeasurement{
    margin-left: auto;
    font-size: 18px;
    color: white;
    background: #72c27a;
    font-family:Corbel;
    margin-bottom: 15px;
}

#btnAddMeasurement:hover {
    background: #da706a
}