#columnsHeader {
    margin-top: 25px;
    background: #2b2a2a;
    height: 50px;
    align-items: center;
    color: white;
    max-width: 1400px
}

.tableRow {
    height: 45px;
    background-color: #fdfdfd
}


.btnImg {
    height: 18px;
    width: 18px;
    cursor: pointer
}