.blackNav {
    background-color: #202020;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 9999
}

#navMenu {
    margin-right: -15px;
    margin-top: 80px;
    position: fixed;
    right: 15px;
    z-index: 9999;
    background-color: white;
    padding: 5px 100px 5px 120px;
    border: 1px #828282 solid;
}

#logoPink {
    height: 50px;
    width: 185px;
    margin-top: -15px
}

#goalImg {
    height: 18px;
    width: 18px
}

.navIcon {
    height: 15px;
    width: 15px
}

#settingsBtn {
    margin-right: 15px;
    border-right: 1px dotted #6b6b6b
}

#right {
    position: absolute;
    right: 0;
    margin-top: -20px;
}

#left {
    margin-right: -226px;
    margin-left: -15px
}
