body {
}

.container{
    min-width: 100%
}

#myChart {
    height: 400px;
    width: 400px;
    background-color: rgba(28, 28, 28, 0.57)
}

.datepicker {
    text-align: center
}

#select {
    width: 185px;
    padding-left: 25px;
    cursor: pointer;
}