body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.kolumna {
    float: left;
    width: calc(50% - 7.5px)
}


.register {
    margin-top: 45px
}

#panelRejestracji {
    border: 1.5px solid #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ffffffc7
}

@media(max-height: 660px) {
    .register {
        margin-top: 30px
    }
}


@media(max-height: 640px) {
    .register {
        margin-top: 10px;
    }
}

@media(max-height: 620px) {
    .register {
        margin-top: 0px;
    }
}