#navSearch {
    margin-left: 0 !important;
    width: 100%
}

#mealAndDay {
    text-align: center;
    color: white;
    position: absolute;
    top: 5px;
    width: 124px;
    left: calc(50% - 62px)
}

#mealName {
    margin-top: 4px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}

#dayBtn {
    margin-top: 4px;
    justify-content: center;
    display: flex
}

.w100 {
    width: 100%;
}

#srcPan {
    position: fixed;
    width: 100%;
    height: 90px;
    top: 80px;
    left: 0;
    z-index: 2;
    background-color: rgb(44, 44, 44);
    border-bottom: 1px solid #ebe7e7;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

#submitSearch {
    height: 38px;
    width: 35px;
    border: 1px solid darkgray;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    background-color: #f2f2f2
}

#searchInput {
    width: 190px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%
}

#searchIcon {
    height: 20px;
    width: 20px;
    margin-top: -4px;
    margin-right: -1px
}

#addIcon {
    width: 20px;
    margin-top: -4px;
    margin-left: 2px
}

#addProduct {
    width: 225px;
    background-color: #444b53;
    height: 37px;
    margin-left: 5px;
    background: none;
    border: none
}

.addProductIcon {
    height: 30px;
    width: 30px
}

#showMyProducts {
    background-color: #464162;
    width: 225px;
    height: 37px
}

#showMyProducts:hover, #addProduct:hover {
    background-color: white;
    color: black;
}

#container{
    padding-top: 135px;
    margin-bottom: 35px
}

.showModalAddProductBtn {
    background: none;
    border: none;
}

.addProductPanel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableRow {
    text-align: center;
    background-color: #fcfbfc;
    border-bottom: 1px solid #b4cfb2;
    height: 90px;
    font-size: 14px;
}

#productNameHeader {
    display: flex;
    justify-content: center;
}

.productName {
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-align: left;
    margin: auto;
}

.photo {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    position: absolute;
    top: -40px;
    left: 15px
}

.marauto {
    margin: auto;
}

#headersRow {
    text-align: center;
    height: 60px;
    padding-top: 4px;
    background-color: #f7f7f7;
    border-bottom: 2px solid #e0e0e0;
    font-weight: 600;
    font-size: 16px
}


@media(max-width: 991px) {
    .tableRow {
        height: 100px
    }
}


@media(max-width: 500px) {
    .productName {
        justify-content: left;
        padding-left: 15px
    }

    #productNameHeader {
        justify-content: left
    }

    .tableRow {
        font-size: 12px;
    }

    #headersRow {
        font-size: 14px;
    }
}

@media(max-width: 450px) {
    .tableRow {
        font-size: 10px;
    }

    #headersRow {
        font-size: 12px;
    }
}
