a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}


.naglowek {
    font-size: 16px;
    font-weight: 500;
}

.col-3 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

@media(max-width: 700px) {
    .naglowek {
        font-size: 14px;
        font-weight: 500;
    }
}

@media(max-width: 500px) {
    .naglowek {
        font-size: 12px;
        font-weight: 500;
    }
}

@media(max-width: 400px) {
    .naglowek {
        font-size: 10px;
        font-weight: 600;
    }
}

@media(max-width: 315px) {
    .naglowek {
        font-size: 8px;
        font-weight: 600;
    }
}

#loader-wrapper .loader-section.section-left {
    background: rgba(34, 34, 34, 0.72) !important;
    width: 50% !important
}

#loader-wrapper .loader-section {
    background: rgba(34, 34, 34, 0.72) !important;
    width: 50% !important
}