.tooltip2 .tooltiptext {
    margin-left: 4px;
    visibility: hidden;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #aeaeae;
    position: absolute;
    z-index: 1;
    padding: 4px;
    margin-top: 5px;
    font-size: 14px
}

.tooltip2 .tooltiptext::after {
    content: " ";
    position: absolute;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}
