#datepicker {
    width: 185px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 2px;
    height: 40px;
    text-align: center;
    padding-right: 15px;
    background: url("https://icons.iconarchive.com/icons/paomedia/small-n-flat/24/calendar-icon.png") no-repeat scroll 95%;
    background-color: white;
    border: 1px solid #909090;
}

#datepicker:hover{
    cursor: pointer
}

.wierszTreningu {
    background: #f5f5f5;
    border-top: 1px solid darkgray;
    align-items: center;
    height: 41px;
}

#btnAdd {
    margin-left: auto;
    background: #ff000047;
    font-size: 18px;
    color: white
}

#btnAdd:hover {
    background: #4444446b
}

#btnUsun{
    height: 20px;
    width: 20px;
    border: none;
    background: none
}

.kolumna {
    border-bottom: 1px solid darkgray;
    background-color: white;
    border-left: 1px solid darkgray;
    display: flex;
    justify-content: center;
}

.cancel{
    height: 20px;
    width: 20px;
    margin-top: -8px;
    margin-left: -6px

}

.headCol {
    border-left: 1px solid darkgray;
    font-weight: 600;
    background: #3f3f3f;
    align-items: center;
    text-align: center;
}

.column{
    width: calc(50% - 30px)
}

.btnArea{
    width: 60px
}

.borl {
    border-left: 1px solid darkgray;
}

#dziennik {
    margin-top: 8px;
    font-size: 18px;
    text-align: right;
}


@media(max-width: 767px){
    #dziennik, #btnAdd, #datepicker{
        font-size: 14px;
    }

    #datepicker{
        width: 140px;
        padding-right: 20px;
        margin-right: 10px;
    }

    #kontener {
        max-width: initial !important;
    }

    .headCol{
        font-weight: 400;
        font-size: 14px;
    }

    .wierszTreningu{
        font-size: 13px;
    }

    .celRow{
        font-size: 14px;
    }

    .cancel{
        margin-top: -10px;
    }
}

@media(max-width: 519px){
    #dziennik, #btnAdd, #datepicker {
        font-size: 13px;
    }

    #datepicker{
        width: 115px;
        padding-right: 25px;
    }
}

@media(max-width: 482px){
    #dziennik, #btnAdd, #datepicker, .headCol, .celRow {
        font-size: 12px;
    }
    .wierszTreningu{
        font-size: 11px;
    }
}

@media(max-width: 455px){
    #dziennik{
        margin-top: -2px;
    }
}