
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/SearchProduct.css" rel="stylesheet" />
    <script src="~/js/Validation.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/SearchProduct.js"></script>
</head>

<body onload="kolorujDrugiWiersz();">


</body>
