<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <script src="~/js/ShowNavbar.js"></script>
    <link href="~/css/CreateDiet.css" rel="stylesheet" />
    <script src="~/js/CreateDiet.js"></script>

</head>
<body>
    <div class="container">
        <div class="modal fade" tabindex="-1" id="addProductModal" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 90%">
                    <div class="modal-header" style="height: 25px">
                        <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row no-gutters" style="height: 90%">
                                
                            </div>

                            <div class="row no-gutters cent" style="margin-top: 10px;">
                                <input id="grammage" type="number" min="1" max="9999" style="width: 60px; margin-right: 3px; text-align:center;" class="int" onchange="this.value = changeToMaxIfGreaterInt(this.value, 999999)" /><div style="font-weight: 600; margin-top: 2px">g</div>
                                <button id="editMeal" style="margin-left: 5px; background:none; border:none"><img style="width:30px; height:30px" src="~/img/add.png" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row no-gutters cent h-100">
            <div class="col-12 col-sm-11 col-lg-8 col-xl-7 cent" style="background-color: white; margin-top: -5px; height: unset">
                <form method="post" class="mx-3">
                    <div class="form-group">
                        <div class="my-2">Stwórz dietę dla:</div>
                        <ul class="ks-cboxtags">
                            <li><input type="checkbox" id="checkboxOne" value="Monday"><label for="checkboxOne">Pon</label></li>
                            <li><input type="checkbox" id="checkboxTwo" value="Tuesday"><label for="checkboxTwo">Wto</label></li>
                            <li><input type="checkbox" id="checkboxThree" value="Wednesday"><label for="checkboxThree">Śro</label></li>
                            <li><input type="checkbox" id="checkboxFour" value="Thursday"><label for="checkboxFour">Czw</label></li>
                            <li><input type="checkbox" id="checkboxFive" value="Friday"><label for="checkboxFive" style="width: 65px">Pt</label></li>
                            <li><input type="checkbox" id="checkboxSix" value="Saturday"><label for="checkboxSix">Sob</label></li>
                            <li><input type="checkbox" id="checkboxSeven" value="Sunday"><label for="checkboxSeven">Ndz</label></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Nazwa diety:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Produkty:</label>
                        <button type="button" data-target="#addProductModal" data-toggle="modal" id="btnAddProduct"><img style="height:30px; width: 30px" src="~/img/add.png"></button>
                    </div>
                    <div class="form-group">
                        <div class="row no-gutters acent mt-1 pb-2" id="columnsHeader">
                            <div class="col-2 col-lg-3 h-100">Nazwa</div>
                            <div class="col-9 col-lg-8 container h-100">
                                <div class="row no-gutters">
                                    <div class="col-3 cent">Ilość</div>
                                    <div class="col-9 container row no-gutters">
                                        <div class="col-3 cent">Kcal</div>
                                        <div class="col-3 cent">B</div>
                                        <div class="col-3 cent">T</div>
                                        <div class="col-3 cent">W</div>
                                    </div>
                                </div>
                            </div><div class="col-1"></div>
                        </div>

                        <div id="productsPanel">
                            <div class="row no-gutters productRow">
                                <div class="col-2 col-lg-3 h-100 acent cent">Banan</div>
                                <div class="col-9 col-lg-8 container h-100">
                                    <div class="row no-gutters h-100">
                                        <div class="col-3 acent cent">100</div>
                                        <div class="col-9 container row no-gutters acent">
                                            <div class="col-3 cent">100</div>
                                            <div class="col-3 cent">1</div>
                                            <div class="col-3 cent">0</div>
                                            <div class="col-3 cent">21</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btnDelete"><img class="delete" src="https://cdn.onlinewebfonts.com/svg/img_416864.png"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>