<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <script src="~/js/ShowNavbar.js"></script>
    <link href="~/css/CreateDiet.css" rel="stylesheet" />
    <script src="~/js/CreateDiet.js"></script>
</head>
<body>
    <div class="container">
        <div class="row no-gutters cent">
            <div class="col-9 col-sm-8 col-lg-7 col-xl-6 cent" style="background-color: white; margin-top: -5px; height: unset">
                <div class="form-group">
                    <div class="col-12 my-2">Stwórz dietę dla:</div>
                    <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Monday"><label for="checkboxOne">Pon</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Tuesday" checked><label for="checkboxTwo">Wto</label></li>
                        <li><input type="checkbox" id="checkboxThree" value="Wednesday" checked><label for="checkboxThree">Śro</label></li>
                        <li><input type="checkbox" id="checkboxFour" value="Thursday"><label for="checkboxFour">Czw</label></li>
                        <li><input type="checkbox" id="checkboxFive" value="Friday"><label for="checkboxFive">Pt</label></li>
                        <li><input type="checkbox" id="checkboxSix" value="Saturday" checked><label for="checkboxSix">Sob</label></li>
                        <li><input type="checkbox" id="checkboxSeven" value="Sunday" checked><label for="checkboxSeven">Ndz</label></li>
                    </ul>
                </div>
                <div class="form-group">
                    <div>Nazwa diety:</div>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <div>Produkty:</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>