<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
    <script src="~/js/ShowNavbar.js"></script>
</head>
<body>

</body>
</html>