<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/lib/chart.js/Chart.css" rel="stylesheet" />
    <script src="~/lib/chart.js/Chart.js"></script>
    <script src="~/js/ProgressMonitoring.js"></script>
</head>
<body onload="createChart()">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <script src="~/js/ShowNavbar.js"></script>
</body>
</html>